@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background-color: var(--tg-theme-bg-color);
  --block-background-color: #222225;
  --code-bg-color: #3f3f44;
  --display-h1-decoration: none;
  --error-color: var(--tg-theme-destructive-text-color);
  --font-color: var(--tg-theme-text-color);
  --font-stack: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace, serif;
  --global-font-size: 15px;
  --global-line-height: 1.4em;
  --global-space: 10px;
  --input-style: solid;
  --invert-font-color: #222225;
  --mono-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
    Courier New, monospace, serif;
  --page-width: 60em;
  --primary-color: var(--tg-theme-accent-text-color);
  --secondary-color: var(--tg-theme-subtitle-text-color);
  --tertiary-color: var(--tg-theme-hint-color);
} */

:root {
  --background-color: #0F0F0F;
  --block-background-color: #222225;
  --code-bg-color: #3f3f44;
  --display-h1-decoration: none;
  --error-color: #ff3c74;
  --font-color: #e8e9ed;
  --font-stack: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace, serif;
  --global-font-size: 15px;
  --global-line-height: 1.4em;
  --global-space: 10px;
  --input-style: solid;
  --invert-font-color: #222225;
  --mono-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
    Courier New, monospace, serif;
  --page-width: 60em;
  --primary-color: #62c4ff;
  --progress-bar-background: #3f3f44;
  --progress-bar-fill: #62c4ff;
  --secondary-color: #a3abba;
  --tertiary-color: #a3abba;
}

.terminal-card > header {
  font-size: calc(var(--global-font-size) / 10 * 9);
  padding: 0.3em 0;
  text-align: left;
  padding-left: 10px;
}
