@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tg-screen-size: 100vh;
  --tgvh: calc(var(--tg-screen-size, 100vh) / 100);
}
html {
  min-height: 100vh;
  background-color: red !important;
}

@keyframes slide-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

html[data-navigation-dir="forward"] {
  &::view-transition-old(root),
  &::view-transition-new(root) {
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
  }

  &::view-transition-old(root) {
    animation-name: slide-left;
  }

  &::view-transition-new(root) {
    animation-name: slide-right;
    animation-direction: reverse;
  }
}

html[data-navigation-dir="backward"] {
  &::view-transition-old(root),
  &::view-transition-new(root) {
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
  }

  &::view-transition-old(root) {
    animation-name: slide-right;
  }

  &::view-transition-new(root) {
    animation-name: slide-left;
    animation-direction: reverse;
  }
}
